.heading  {
	width:100%;
	text-align: left;
}
.heading h3 {
	display:inline;
}
.heading button {
	float:right;
	border:2px solid red;
	background-color: orangered;
}
.mario {
	width:100%
}
#play,#status {
	font-size:25px;
}